$light_backgroundColor:#F9F9F9;
$dark_backgroundColor:#212124;

$light_primaryColor: #212124;
$dark_primaryColor: #ffffff;

$light_secondaryColor: #9595A8;
$dark_secondaryColor: #9595A8;

$light_inverseColor: #ffffff;
$dark_inverseColor: #ffffff;

$light_leftPanelBackgroundColor:#F0F0F0;
$dark_leftPanelBackgroundColor:#28282D;


$light_bottomBarBackgroundColor:#F0F0F0;
$light_bottomBarBorderColor:#DDDDDD;
$dark_bottomBarBackgroundColor:#28282D;
$dark_bottomBarBorderColor:#4D4D4D;

$accentColor: #FF8E78;
$accentColorHover:#FFA388;
$accentColorActive: #ED725A;
$accentColorDarkText: #DD715C;

$complementaryColor: #52CF67;

$light_inputBorderColor:#D6D6E3;
$dark_inputBorderColor:#6A6A78;

$light_inputBorderColorHover:#B6A8E4;
$dark_inputBorderColorHover:#ffffff;

$light_btnSecondaryBorderColor: #9797A9;
$light_btnSecondaryBackgroundHover: rgba(255,142,120,0.1);
$light_btnSecondaryBackgroundActive: rgba(255,142,120,0.2);
$dark_btnSecondaryBorderColor: #9595A8;
$dark_btnSecondaryBackgroundHover: rgba(255,142,120,0.1);
$dark_btnSecondaryBackgroundActive: rgba(255,142,120,0.2);

$light_lessWeightBorderColor: #B6B6C4; 
$light_moreWeightBorderColor: #7D7D88;
$dark_lessWeightBorderColor: #616170; 
$dark_moreWeightBorderColor: #ffffff;

$light_symbolPreviewListItemBg: transparent;
$light_symbolPreviewListItemBgHover: #f0f0f0;
$light_symbolPreviewListItemBgSelected: #dfdfdf;
$dark_symbolPreviewListItemBg: transparent;
$dark_symbolPreviewListItemBgHover: #28282D;
$dark_symbolPreviewListItemBgSelected: #35353C;

$light_SeparatorColor:#616170;
$dark_SeparatorColor:#B6B6C4;

$light_scrollThumbColor: #C9C9C9;
$light_scrollThumbColorHover: #B9b9b9;
$light_scrollThumbColorActive: #a9a9a9;
$dark_scrollThumbColor: #616170;
$dark_scrollThumbColorHover: #6C6C82;
$dark_scrollThumbColorActive: #4E4E5D;


$light_sliderBarColor: #C9C9C9;
$light_sliderBarColorHover: #B9b9b9;
$dark_sliderBarColor: #616170;
$dark_sliderBarColorHover: #6C6C82;

$light_emptyStateIcon: #c5c5cA;
$dark_emptyStateIcon: #616170;

$light_contrastModeColor: #c9c9c9;
$dark_contrastModeColor: #727282;

$light_tooltipColor:#FFFFFF;
$dark_tooltipColor:#39393E;

$light_backgroundColor:#F9F9F9;
$dark_backgroundColor:#212124;

$light_inputBackgroundColor: #FFFFFF;
$dark_inputBackgroundColor: #28282A;
$light_inputBorderColor: #A9A9A9;
$dark_inputBorderColor: #6A6A6A;

$warningColor: #FF6D6D;
$confirmationColor: #9AEF6F;

$light_leftListItemSeparatorColor:#D0D0D0;
$dark_leftListItemSeparatorColor:#3A3A42;

$light_leftListItemHoverBackgroundColor:#E9E9E9;
$dark_leftListItemHoverBackgroundColor:#35353C;
$light_leftListItemSelectedBackgroundColor:#DFDFDF;
$dark_leftListItemSelectedBackgroundColor:#474750;


